h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: ghostwhite;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
  }
  .image{
      position: absolute;
      left: 0cm;
      right: 0;
      height: 600px;
      width: 100%;
      margin: 0cm;
      padding: 0 ;
      background-size: cover;
      background-attachment: fixed;
      background-color: rgb(0, 0, 0, .6);
      background-blend-mode: multiply;
      background-repeat: no-repeat;
      
  }
  .btnnn{
      position: absolute;
      top: 62%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 22px;
      font-weight: bold;
      text-align: center;   
      display: flexbox;
  }
  button {
      background-color: transparent;
      border: 2px solid #008CBA;
      color: #008CBA;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover{
      background-color: aqua;
    }
